###############################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[part]
recipe = minitage.recipe.cmmi
url = http://ftp.gnome.org/pub/gnome/sources/glib/2.28/glib-2.28.1.tar.bz2
md5sum = 9c097e61dc34eb5c6347e94f1f90be07
configure-options=--with-pcre=internal
-options=-Np1
#patches=${buildout:directory}/minitage.patch
includes-dirs-darwin=/opt/local/include
library-dirs=/opt/local/lib

#post-make-hook=${buildout:directory}/h.py:p


